.container{
  width: 640px;
  margin:auto;
  margin-top: 150px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}

.container hr{
  height: 2px;
  border: none;
  background: #707070;
}

.container h2{
  font-size:25px;
  font-weight:500;
}

.container ul li{
  display:flex;
  align-items: center;
  height: 60px;
  padding-left: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}

.container button{
  margin: auto;
  height: 60px;
  width: 250px;
  background: #5a39a7;
  color: white;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
}

.container .questions{
  margin:auto;
  font-size: 15px;
}

.correct{
  color:white;
  background-color: #77efcd;
}

.wrong{
  color:white;
  background-color: #fb7070;
}

/* .correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
} */
